body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}

.labeled-audio {
  text-align: center;
  display: inline;
  max-width: 350px;
  min-width: 275px;
  flex: 1 1 275px;
  margin: 5px 10px;
  position: relative;
}

.labeled-audio2 {
  min-height: 135px;
}

.labeled-audio2 > audio {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.labeled-audio > p {
  margin: 10px 0px 2px;
}

.playlist {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 40px 0px 0px;
}

.playlist-title {
  display: block;
  margin: 0px 20%;
  margin-top: 30px;
}

.flex-row-container {
  display: flex;
  align-items: center; /* To vertically align the description with the columns */
  margin-bottom: 20px; /* Spacing between rows, adjust as needed */
}

.row-description {
  flex: 1; /* Adjust this if you want the description to take more or less space */
  padding-right: 20px; /* Space between the description and the columns */
}

.column-section {
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  margin: 0 auto;
}

.column {
  flex: 1;
  max-width: calc(33.33% - 20px); /* Assuming there's some gap between columns */
  text-align: center;
}

audio {
  width: 100%;
  max-width: 300px;
}

.image img {
  width: 100%;  /* this means the image will take up 50% of its parent's width */
}



